# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# Visual Studio
.vs/

# Node / Angular
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
.angular/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*