ALTER PROCEDURE [inv].[SpScreenUpd]
    @Json NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        CREATE TABLE #ScreenUpdate (
            Id          INT NOT NULL,
            Name        NVARCHAR(30) NULL,
            Location    NVARCHAR(60) NULL,
            Resolution  NVARCHAR(20) NULL,
            Tag         NVARCHAR(MAX) NULL,
            Orientation INT NULL,
            Status      INT NULL,
            UpdatedBy   INT NOT NULL
        );

        INSERT INTO #ScreenUpdate (Id, Name, Location, Resolution, Tag, Orientation, Status, UpdatedBy)
        SELECT oj.Id, oj.Name, oj.Location, oj.Resolution, oj.Tag, oj.Orientation, oj.Status, oj.UpdatedBy
        FROM OPENJSON(@Json)
        WITH (
            Id          INT           '$.Id',
            Name        NVARCHAR(30)  '$.Name',
            Location    NVARCHAR(60)  '$.Location',
            Resolution  NVARCHAR(20)  '$.Resolution',
            Tag         NVARCHAR(MAX) '$.Tag',
            Orientation INT           '$.Orientation',
            Status      INT           '$.Status',
            UpdatedBy   INT           '$.UpdatedBy'
        ) oj;

        -- =========================
        -- Validations
        -- =========================
        IF NOT EXISTS (SELECT 1 FROM #ScreenUpdate)
            THROW 50001, 'No valid screen data provided in JSON input', 1;

        IF EXISTS (SELECT 1 FROM #ScreenUpdate WHERE Id IS NULL OR UpdatedBy IS NULL)
            THROW 50002, 'Required fields (Id, UpdatedBy) cannot be null', 1;

        IF EXISTS (
            SELECT 1 FROM #ScreenUpdate su
            LEFT JOIN inv.Screen s ON s.Id = su.Id AND s.IsDeleted = 0
            WHERE s.Id IS NULL
        )
            THROW 50003, 'Screen does not exist or has been deleted', 1;

        IF EXISTS (
            SELECT 1 FROM #ScreenUpdate su
            INNER JOIN inv.Screen s
                ON s.TenantId = (SELECT TenantId FROM inv.Screen WHERE Id = su.Id)
                AND s.Name    = su.Name
                AND s.Id     != su.Id
                AND s.IsDeleted = 0
        )
            THROW 50004, 'Screen with this name already exists for the tenant', 1;

        -- =========================
        -- Update Screen
        -- =========================
        UPDATE s
        SET
            s.Name        = ISNULL(su.Name,        s.Name),
            s.Location    = ISNULL(su.Location,    s.Location),
            s.Resolution  = ISNULL(su.Resolution,  s.Resolution),
            s.Tag         = ISNULL(su.Tag,          s.Tag),
            s.Orientation = ISNULL(su.Orientation,  s.Orientation),
            s.Status      = ISNULL(su.Status,       s.Status),
            s.UpdatedBy   = su.UpdatedBy,
            s.UpdatedAt   = SYSDATETIMEOFFSET()
        FROM inv.Screen s
        INNER JOIN #ScreenUpdate su ON s.Id = su.Id;

        -- =========================
        -- Replace Operating Hours
        -- =========================

        -- Step 1: Soft delete existing hours
        UPDATE oh
        SET
            oh.IsDeleted = 1,
            oh.DeletedAt = SYSDATETIMEOFFSET(),
            oh.DeletedBy = su.UpdatedBy,
            oh.UpdatedAt = SYSDATETIMEOFFSET(),
            oh.UpdatedBy = su.UpdatedBy
        FROM inv.ScreenOperatingHour oh
        INNER JOIN #ScreenUpdate su ON oh.ScreenId = su.Id
        WHERE oh.IsDeleted = 0;

        -- Step 2: Insert new hours from JSON array
        INSERT INTO inv.ScreenOperatingHour
        (
            ScreenId, StartTime, EndTime, DayOfWeek,
            AvgAudienceCount, IsDeleted, CreatedAt, UpdatedAt,
            CreatedBy, UpdatedBy
        )
        SELECT
            su.Id,
            oh.StartTime,
            oh.EndTime,
            oh.DayOfWeek,
            ISNULL(oh.AvgAudienceCount, 0),
            0,
            SYSDATETIMEOFFSET(),
            SYSDATETIMEOFFSET(),
            su.UpdatedBy,
            su.UpdatedBy
        FROM #ScreenUpdate su
        CROSS APPLY OPENJSON(@Json, '$.OperatingHour')
        WITH (
            StartTime        TIME(0) '$.StartTime',
            EndTime          TIME(0) '$.EndTime',
            DayOfWeek        INT     '$.DayOfWeek',
            AvgAudienceCount INT     '$.AvgAudienceCount'
        ) oh
        WHERE oh.StartTime IS NOT NULL
          AND oh.EndTime   IS NOT NULL
          AND oh.DayOfWeek IS NOT NULL;

        -- =========================
        -- Response JSON
        -- =========================
        SELECT @Json = ISNULL(
        (
            SELECT *
            FROM (
                SELECT
                    s.Id,
                    s.Name,
                    s.TenantId,
                    s.Location,
                    ISNULL(s.Resolution, '1920x1080') AS Resolution,
                    s.Tag,
                    ISNULL(s.Orientation, 1)          AS Orientation,
                    s.Status,
                    s.UpdatedBy,
                    s.UpdatedAt,
                    s.IsDeleted,
                    (
                        SELECT
                            oh.Id,
                            oh.StartTime,
                            oh.EndTime,
                            oh.DayOfWeek,
                            oh.AvgAudienceCount
                        FROM inv.ScreenOperatingHour oh
                        WHERE oh.ScreenId = s.Id
                          AND oh.IsDeleted = 0
                        FOR JSON PATH
                    ) AS OperatingHour
                FROM inv.Screen s
                INNER JOIN #ScreenUpdate su ON s.Id = su.Id
            ) result
            FOR JSON PATH, INCLUDE_NULL_VALUES
        ), '[]');

        COMMIT TRANSACTION;
        DROP TABLE IF EXISTS #ScreenUpdate;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        DROP TABLE IF EXISTS #ScreenUpdate;
        THROW;
    END CATCH
END