USE [Samikshya_Dooh]
GO
/****** Object:  StoredProcedure [dbo].[SpMediaLibraryDel]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpMediaLibraryDel]
(
    @JSON NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- =========================
        -- Extract values from JSON
        -- =========================
        DECLARE @Id INT;
        DECLARE @TenantId INT;
        DECLARE @DeletedBy INT;

        SELECT
            @Id = Id,
            @TenantId = TenantId,
            @DeletedBy = DeletedBy
        FROM OPENJSON(@JSON)
        WITH (
            Id INT '$.Id',
            TenantId INT '$.TenantId',
            DeletedBy INT '$.DeletedBy'
        );

        -- =========================
        -- Validation
        -- =========================
        IF @Id IS NULL
            THROW 50001, 'Id is required', 1;

        IF @TenantId IS NULL
            SET @TenantId = 1;  -- single tenant safe default

        IF @DeletedBy IS NULL
            SET @DeletedBy = 1;  -- system/admin fallback

        IF NOT EXISTS (
            SELECT 1
            FROM dbo.MediaLibrary
            WHERE Id = @Id
              AND TenantId = @TenantId
              AND IsDeleted = 0
        )
            THROW 50002, 'Media file not found or already deleted', 1;

        -- =========================
        -- Soft Delete
        -- =========================
        UPDATE dbo.MediaLibrary
        SET
            IsDeleted = 1,
            DeletedAt = SYSDATETIMEOFFSET(),
            DeletedBy = @DeletedBy
        WHERE Id = @Id
          AND TenantId = @TenantId;

        -- =========================
        -- Response JSON
        -- =========================
        SELECT @JSON =
        (
            SELECT
                @Id AS Id,
                @TenantId AS TenantId,
                @DeletedBy AS DeletedBy,
                1 AS Success,
                'Media file deleted successfully' AS Message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- return error in same JSON format
        SELECT @JSON =
        (
            SELECT
                0 AS Success,
                ERROR_MESSAGE() AS Message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpMediaLibraryIns]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SpMediaLibraryIns]
(
    @JSON NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- =========================
        -- Temp Tables
        -- =========================
        CREATE TABLE #MediaLibraryInsert
        (
            TenantId   INT NOT NULL,
            Name       NVARCHAR(50) NOT NULL,
            Url        NVARCHAR(500) NOT NULL,
            Resolution NVARCHAR(50) NULL,
            Extension  NVARCHAR(15) NOT NULL,
            Duration   INT NULL,
            IsVideo    BIT NOT NULL,
            CreatedBy  INT NOT NULL
        );

        CREATE TABLE #Inserted
        (
            Id   INT,
            Name NVARCHAR(50)
        );

        -- =========================
        -- Parse JSON → #MediaLibraryInsert
        -- =========================
        INSERT INTO #MediaLibraryInsert
        (
            TenantId, Name, Url, Resolution,
            Extension, Duration, IsVideo, CreatedBy
        )
        SELECT
            js.TenantId,
            js.Name,
            js.Url,
            js.Resolution,
            js.Extension,
            js.Duration,
            js.IsVideo,
            js.CreatedBy
        FROM OPENJSON(@JSON)
        WITH
        (
            TenantId   INT,
            Name       NVARCHAR(50),
            Url        NVARCHAR(500),
            Resolution NVARCHAR(50),
            Extension  NVARCHAR(15),
            Duration   INT,
            IsVideo    BIT,
            CreatedBy  INT
        ) js;

        -- =========================
        -- Validations
        -- =========================
        IF NOT EXISTS (SELECT 1 FROM #MediaLibraryInsert)
            THROW 50001, 'No valid media data provided in JSON input', 1;

        IF EXISTS (
            SELECT 1 FROM #MediaLibraryInsert
            WHERE TenantId IS NULL OR Name IS NULL
              OR Url IS NULL OR Extension IS NULL
              OR IsVideo IS NULL OR CreatedBy IS NULL
        )
            THROW 50002, 'Required fields (TenantId, Name, Url, Extension, IsVideo, CreatedBy) cannot be null', 1;

        IF EXISTS (
            SELECT 1 FROM #MediaLibraryInsert
            WHERE LEN(TRIM(Name)) < 2
        )
            THROW 50003, 'Media name must be at least 2 characters', 1;

        IF EXISTS (
            SELECT 1 FROM #MediaLibraryInsert
            WHERE Name LIKE '%[<>"/\\|?*]%'
        )
            THROW 50004, 'Media name contains invalid characters', 1;

        IF EXISTS (
            SELECT 1 FROM #MediaLibraryInsert
            WHERE Url NOT LIKE 'http://%' AND Url NOT LIKE 'https://%'
        )
            THROW 50005, 'Url must be a valid HTTP or HTTPS URL', 1;

        IF EXISTS (
    SELECT 1 FROM #MediaLibraryInsert
    WHERE Resolution IS NOT NULL
      AND Resolution NOT LIKE '[0-9]%x[0-9]%'  -- must be NUMxNUM format
)
    THROW 50006, 'Resolution format must be WIDTHxHEIGHT (e.g. 1920x1080)', 1;

        IF EXISTS (
            SELECT 1 FROM #MediaLibraryInsert
            WHERE Extension NOT IN (
                'mp4','mov','avi','mkv','webm',
                'jpg','jpeg','png','gif','webp','bmp'
            )
        )
            THROW 50007, 'Extension must be a supported media format (e.g. mp4, jpg, png)', 1;

        IF EXISTS (
            SELECT 1 FROM #MediaLibraryInsert
            WHERE IsVideo = 1 AND Duration IS NULL
        )
            THROW 50008, 'Duration is required for video media', 1;

        IF EXISTS (
            SELECT 1 FROM #MediaLibraryInsert
            WHERE Duration IS NOT NULL AND Duration <= 0
        )
            THROW 50009, 'Duration must be greater than 0', 1;

        IF EXISTS (
            SELECT 1 FROM #MediaLibraryInsert
            WHERE IsVideo = 0
              AND Extension IN ('mp4','mov','avi','mkv','webm')
        )
            THROW 50010, 'IsVideo flag does not match the provided file extension', 1;

        IF EXISTS (
            SELECT 1
            FROM #MediaLibraryInsert mi
            INNER JOIN dbo.MediaLibrary ml
                ON ml.TenantId = mi.TenantId
                AND ml.Name = mi.Name
                AND ml.IsDeleted = 0
        )
            THROW 50011, 'A media file with this name already exists for the tenant', 1;

        -- =========================
        -- Insert
        -- =========================
        INSERT INTO dbo.MediaLibrary
        (
            TenantId, Name, Url, Resolution,
            Extension, Duration, IsVideo,
            IsDeleted, CreatedAt, CreatedBy
        )
        OUTPUT
            inserted.Id,
            inserted.Name
        INTO #Inserted(Id, Name)
        SELECT
            TenantId,
            Name,
            Url,
            ISNULL(Resolution, '1920x1080'),
            Extension,
            Duration,
            IsVideo,
            0,
            SYSDATETIMEOFFSET(),
            CreatedBy
        FROM #MediaLibraryInsert;

        -- =========================
        -- Output JSON Result
        -- =========================
        SELECT @JSON =
        (
            SELECT
                ml.Id,
                ml.TenantId,
                ml.Name,
                ml.Url,
                ISNULL(ml.Resolution, '1920x1080') AS Resolution,
                ml.Extension,
                ml.Duration,
                ml.IsVideo,
                ml.IsDeleted,
                ml.CreatedAt,
                ml.CreatedBy
            FROM dbo.MediaLibrary ml
            INNER JOIN #Inserted i ON ml.Id = i.Id
            FOR JSON PATH, INCLUDE_NULL_VALUES
        );

        COMMIT TRANSACTION;

        DROP TABLE IF EXISTS #MediaLibraryInsert;
        DROP TABLE IF EXISTS #Inserted;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpMediaLibrarySel]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SpMediaLibrarySel]
(
    @JSON NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Search          NVARCHAR(255) = JSON_VALUE(@JSON, '$.Search');
    DECLARE @Type            TINYINT       = TRY_CAST(JSON_VALUE(@JSON, '$.Type') AS TINYINT);
    DECLARE @IncludeDeleted  BIT           = ISNULL(TRY_CAST(JSON_VALUE(@JSON, '$.IncludeDeleted') AS BIT), 0);

    IF @Type IS NOT NULL AND @Type NOT IN (0, 1)
    BEGIN
        THROW 50001, 'Invalid Type parameter. Expected 0 (image) or 1 (video).', 1;
    END;

    BEGIN TRY
        SELECT @JSON = (
            SELECT
                ml.Id,
                ml.TenantId,
                ml.Name,
                ml.Url,
                ISNULL(ml.Resolution, '1920x1080') AS Resolution,
                ml.Extension,
                ml.Duration,
                ml.IsVideo,
                ml.IsDeleted,
                ml.CreatedAt,
                ml.CreatedBy,
                ml.DeletedAt,
                ml.DeletedBy
            FROM dbo.MediaLibrary ml
            WHERE 
                (ml.IsDeleted = 0 OR @IncludeDeleted = 1)
                AND (@Search IS NULL 
                    OR ml.Name       LIKE '%' + @Search + '%'
                    OR ml.Url        LIKE '%' + @Search + '%'
                    OR ml.Resolution LIKE '%' + @Search + '%'
                    OR ml.Extension  LIKE '%' + @Search + '%')
                AND (@Type IS NULL OR ml.IsVideo = @Type)
            ORDER BY ml.IsDeleted ASC, ml.CreatedAt DESC
            FOR JSON PATH, INCLUDE_NULL_VALUES
        );
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenByIdSel]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [inv].[SpScreenByIdSel]
    @Json NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Id INT = JSON_VALUE(@Json, '$.Id')
    DECLARE @Result NVARCHAR(MAX)

    SET @Result = (
        SELECT
            Id,
            Name,
            Address,
            TenantId,
            Isactive,
            CostPercontact
        FROM
            inv.Screen
        WHERE
            Isactive = 1
            AND (@Id IS NULL OR Id = @Id)
        FOR JSON PATH
    )

    SELECT @Result
END
GO
/****** Object:  StoredProcedure [inv].[SpScreenDel]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [inv].[SpScreenDel]
    @Json NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @ScreenId  INT;
        DECLARE @DeletedBy INT;
        DECLARE @Cascade   BIT;

        SELECT
            @ScreenId  = ScreenId,
            @DeletedBy = DeletedBy,
            @Cascade   = CascadeDelete
        FROM OPENJSON(@Json)
        WITH
        (
            ScreenId      INT '$.ScreenId',
            DeletedBy     INT '$.DeletedBy',
            CascadeDelete BIT '$.CascadeDelete'
        );

        IF @ScreenId IS NULL
            THROW 50001, 'ScreenId is required', 1;

        IF @DeletedBy IS NULL
            THROW 50002, 'DeletedBy is required', 1;

        IF NOT EXISTS (
            SELECT 1 FROM inv.Screen
            WHERE Id = @ScreenId AND IsDeleted = 0
        )
            THROW 50003, 'Screen does not exist or has already been deleted', 1;

        UPDATE inv.Screen
        SET
            IsDeleted = 1,
            DeletedAt = SYSDATETIMEOFFSET(),
            DeletedBy = @DeletedBy,
            UpdatedAt = SYSDATETIMEOFFSET(),
            UpdatedBy = @DeletedBy
        WHERE Id = @ScreenId
          AND IsDeleted = 0;

        IF @Cascade = 1
        BEGIN
            UPDATE inv.ScreenOperatingHour
            SET
                IsDeleted = 1,
                DeletedAt = SYSDATETIMEOFFSET(),
                DeletedBy = @DeletedBy,
                UpdatedAt = SYSDATETIMEOFFSET(),
                UpdatedBy = @DeletedBy
            WHERE ScreenId = @ScreenId
              AND IsDeleted = 0;
        END

        SELECT @Json =
        (
            SELECT
                @ScreenId  AS ScreenId,
                @DeletedBy AS DeletedBy,
                @Cascade   AS CascadeDelete,
                1          AS Success,
                'Screen deleted successfully' AS Message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenDropDownSel]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [inv].[SpScreenDropDownSel]
    @JSON NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Result NVARCHAR(MAX);

    SET @Result = (
        SELECT Name
        FROM inv.Screen
        WHERE Status = 1
        ORDER BY Name ASC
        FOR JSON PATH
    );

    SELECT @Result AS JsonResult;
END
GO
/****** Object:  StoredProcedure [inv].[SpScreenIns]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [inv].[SpScreenIns]
(
    @JSON NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- =========================
        -- Temp Tables
        -- =========================
        CREATE TABLE #ScreenInsert
        (
            --Id           INT NULL,
            TenantId     INT NOT NULL,
            Name         NVARCHAR(30) NOT NULL,
            Location     NVARCHAR(60) NOT NULL,
            Resolution   NVARCHAR(20) NULL,
            Tag          NVARCHAR(MAX) NULL,
            Orientation  INT NULL,
            Status       INT NULL,
            CreatedBy    INT NOT NULL
        );

        CREATE TABLE #OperatingHourInsert
        (
            ScreenName       NVARCHAR(30) NOT NULL,
            StartTime        TIME(0) NOT NULL,
            EndTime          TIME(0) NOT NULL,
            DayOfWeek        INT NOT NULL,
            AvgAudienceCount INT NULL,
            CreatedBy        INT NOT NULL
        );

        CREATE TABLE #Inserted
        (
            Id   INT,
            Name NVARCHAR(30)
        );

        -- =========================
        -- Parse JSON → #ScreenInsert
        -- =========================
        INSERT INTO #ScreenInsert
        (
            TenantId, Name, Location, Resolution,
            Tag, Orientation, Status, CreatedBy
        )
        SELECT
            js.TenantId,
            js.Name,
            js.Location,
            js.Resolution,
            js.Tag,
            js.Orientation,
            js.Status,
            js.CreatedBy
        FROM OPENJSON(@JSON)
        WITH
        (
            TenantId    INT,
            Name        NVARCHAR(30),
            Location    NVARCHAR(60),
            Resolution  NVARCHAR(20),
            Tag         NVARCHAR(MAX),
            Orientation INT,
            Status      INT,
            CreatedBy   INT
        ) js;

        -- =========================
        -- Parse JSON → #OperatingHourInsert
        -- =========================
        INSERT INTO #OperatingHourInsert
        (
            ScreenName, StartTime, EndTime, DayOfWeek, AvgAudienceCount, CreatedBy
        )
        SELECT
            js.ScreenName,
            oh.StartTime,
            oh.EndTime,
            oh.DayOfWeek,
            oh.AvgAudienceCount,
            js.CreatedBy
        FROM OPENJSON(@JSON)
        WITH
        (
            ScreenName    NVARCHAR(30) '$.Name',
            CreatedBy     INT,
            OperatingHour NVARCHAR(MAX) AS JSON
        ) js
        CROSS APPLY OPENJSON(js.OperatingHour)
        WITH
        (
            StartTime        TIME(0),
            EndTime          TIME(0),
            DayOfWeek        INT,
            AvgAudienceCount INT
        ) oh
        WHERE oh.StartTime IS NOT NULL AND oh.EndTime IS NOT NULL;

        -- =========================
        -- Validations
        -- =========================

IF NOT EXISTS (SELECT 1 FROM #ScreenInsert)
    THROW 50001, 'No valid screen data provided in JSON input', 1;

IF EXISTS (
    SELECT 1 FROM #ScreenInsert
    WHERE TenantId IS NULL OR Name IS NULL 
      OR Location IS NULL OR CreatedBy IS NULL
)
    THROW 50002, 'Required fields (TenantId, Name, Location, CreatedBy) cannot be null', 1;

IF EXISTS (
    SELECT 1 FROM #ScreenInsert
    WHERE LEN(TRIM(Name)) < 3
)
    THROW 50003, 'Screen name must be at least 3 characters', 1;

IF EXISTS (
    SELECT 1 FROM #ScreenInsert
    WHERE Name LIKE '%[<>"/\\|?*]%'
)
    THROW 50004, 'Screen name contains invalid characters', 1;

IF EXISTS (
    SELECT 1
    FROM #ScreenInsert si
    INNER JOIN inv.Screen s
        ON s.TenantId = si.TenantId
        AND s.Name = si.Name
        AND s.IsDeleted = 0
)
    THROW 50005, 'Screen with this name already exists for the tenant', 1;


IF EXISTS (
    SELECT 1 FROM #ScreenInsert
    WHERE Location NOT LIKE '-%,-%'
      AND Location NOT LIKE '%[0-9],%[0-9]%'
      OR LEN(Location) > 50
)
    THROW 50006, 'Location must be in format: latitude,longitude (e.g. 27.7172,85.3240)', 1;

IF EXISTS (
    SELECT 1 FROM #ScreenInsert
    WHERE Location = '0.0000,0.0000' OR Location = '0,0'
)
    THROW 50007, 'Location cannot be 0,0 - please provide a valid GPS coordinate', 1;

IF EXISTS (
    SELECT 1 FROM #ScreenInsert
    WHERE Resolution IS NOT NULL
      AND Resolution NOT IN (
          '1920x1080','1080x1920',
          '3840x2160','2160x3840',
          '1280x720','720x1280',
          '1024x768','768x1024'
      )
)
    THROW 50008, 'Resolution must be a standard DOOH resolution (e.g. 1920x1080, 3840x2160)', 1;


IF EXISTS (
    SELECT 1 FROM #ScreenInsert
    WHERE Tag IS NOT NULL
      AND LEN(TRIM(Tag)) = 0
)
    THROW 50011, 'Tag cannot be empty string', 1;

-- Operating hour validations
IF EXISTS (
    SELECT 1 FROM #OperatingHourInsert
    WHERE StartTime >= EndTime
)
    THROW 50012, 'StartTime must be less than EndTime', 1;

IF EXISTS (
    SELECT 1 FROM #OperatingHourInsert
    WHERE DATEDIFF(MINUTE, StartTime, EndTime) < 30
)
    THROW 50013, 'Operating duration must be at least 30 minutes', 1;

IF EXISTS (
    SELECT 1 FROM #OperatingHourInsert
    WHERE DATEDIFF(MINUTE, StartTime, EndTime) > 1440
)
    THROW 50014, 'Operating duration cannot exceed 24 hours', 1;

IF EXISTS (
    SELECT 1 FROM #OperatingHourInsert
    WHERE DayOfWeek < 1 OR DayOfWeek > 7
)
    THROW 50015, 'DayOfWeek must be between 1 (Sunday) and 7 (Saturday)', 1;

IF EXISTS (
    SELECT 1 FROM #OperatingHourInsert
    GROUP BY ScreenName, DayOfWeek
    HAVING COUNT(*) > 1
)
    THROW 50016, 'Duplicate DayOfWeek found in operating hours', 1;

IF EXISTS (
    SELECT 1 FROM #OperatingHourInsert
    WHERE AvgAudienceCount IS NOT NULL
      AND AvgAudienceCount < 0
)
    THROW 50017, 'AvgAudienceCount cannot be negative', 1;

IF EXISTS (
    SELECT 1 FROM #OperatingHourInsert
    WHERE AvgAudienceCount IS NOT NULL
      AND AvgAudienceCount > 1000000
)
    THROW 50018, 'AvgAudienceCount cannot exceed 1,000,000', 1;

IF EXISTS (
    SELECT 1 FROM #OperatingHourInsert
    GROUP BY ScreenName
    HAVING SUM(ISNULL(AvgAudienceCount, 0)) = 0
)
    THROW 50019, 'At least one operating day must have AvgAudienceCount greater than 0', 1;

	IF EXISTS (
    SELECT 1
    FROM #ScreenInsert si
    LEFT JOIN [Core].[Tenant] t
        ON t.Id = si.TenantId
        AND t.IsDeleted = 0
    WHERE t.Id IS NULL
)
    THROW 50020, 'TenantId does not exist or tenant has been deleted', 1;



        INSERT INTO inv.Screen
        (
            TenantId, Name, Location, Resolution,
            Tag, Orientation, Status, CreatedBy,
            CreatedAt, IsDeleted,
            UpdatedAt, UpdatedBy
        )
        OUTPUT
            inserted.Id,
            inserted.Name
        INTO #Inserted(Id, Name)
        SELECT
            TenantId,
            Name,
            Location,
            ISNULL(Resolution, '1920x1080'),
            Tag,
            ISNULL(Orientation, 1),
            ISNULL(Status, 1),
            CreatedBy,
            SYSDATETIMEOFFSET(),
            0,
            SYSDATETIMEOFFSET(),
            CreatedBy
            FROM #ScreenInsert;

        -- =========================
        -- Map IDs back
        -- =========================
        --UPDATE s
        --SET s.Id = i.Id
        --FROM #ScreenInsert s
        --INNER JOIN #Inserted i
        --    ON s.Name = i.Name AND s.TenantId = (
        --        SELECT TenantId FROM inv.Screen WHERE Id = i.Id
        --    );

        -- =========================
        -- Insert into ScreenOperatingHour
        -- =========================
        INSERT INTO inv.ScreenOperatingHour
        (
            ScreenId, StartTime, EndTime, DayOfWeek,
            AvgAudienceCount, CreatedBy, CreatedAt,
            UpdatedAt, UpdatedBy, IsDeleted
        )
        SELECT
            --si.Id,
			i.Id,
            oh.StartTime,
            oh.EndTime,
            ISNULL(oh.DayOfWeek, 1),
            ISNULL(oh.AvgAudienceCount, 0),
            oh.CreatedBy,
            SYSDATETIMEOFFSET(),
            SYSDATETIMEOFFSET(),
            oh.CreatedBy,
            0
        FROM #OperatingHourInsert oh
        --INNER JOIN #ScreenInsert si ON si.Name = oh.ScreenName;
		INNER JOIN #Inserted i ON i.Name = oh.ScreenName;

        -- =========================
        -- Output JSON Result
        -- =========================
        SELECT @JSON =
        (
            SELECT
                s.Id,
                s.Name,
                s.TenantId,
                s.Location,
                ISNULL(s.Resolution, '1920x1080') AS Resolution,
                s.Tag AS Tag,
                ISNULL(s.Orientation, 1) AS Orientation,
                s.Status,
                s.CreatedBy,
                s.CreatedAt,
                s.IsDeleted,
                (
                    SELECT
                        oh.Id,
                        oh.StartTime,
                        oh.EndTime,
                        oh.DayOfWeek,
                        oh.AvgAudienceCount
                    FROM inv.ScreenOperatingHour oh
                    WHERE oh.ScreenId = s.Id
                      AND oh.IsDeleted = 0
                    FOR JSON PATH
                ) AS OperatingHour
            FROM inv.Screen s
            INNER JOIN #Inserted i ON s.Id = i.Id
            FOR JSON PATH, INCLUDE_NULL_VALUES
        );


        COMMIT TRANSACTION;

		DROP TABLE IF EXISTS #ScreenInsert;
        DROP TABLE IF EXISTS #OperatingHourInsert;
        DROP TABLE IF EXISTS #Inserted;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenOperatingHourDel]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Samikshya khatiwada
-- Create date: 30th april
-- Description:	Sp for deleting the screen operating hour
-- =============================================

CREATE   PROCEDURE [inv].[SpScreenOperatingHourDel]
(
    @JSON NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @Id        INT;
        DECLARE @ScreenId  INT;
        DECLARE @DeletedBy INT;

        SELECT
            @Id        = Id,
            @ScreenId  = ScreenId,
            @DeletedBy = DeletedBy
        FROM OPENJSON(@JSON)
        WITH (
            Id        INT '$.Id',
            ScreenId  INT '$.ScreenId',
            DeletedBy INT '$.DeletedBy'
        );

        IF @Id IS NULL
            THROW 50001, 'Id is required', 1;
        IF @ScreenId IS NULL
            THROW 50002, 'ScreenId is required', 1;
        IF @DeletedBy IS NULL
            SET @DeletedBy = 1;

        IF NOT EXISTS (
            SELECT 1 FROM inv.Screen
            WHERE Id = @ScreenId AND IsDeleted = 0
        )
            THROW 50003, 'Parent screen not found or has been deleted', 1;

        IF NOT EXISTS (
            SELECT 1 FROM inv.ScreenOperatingHour
            WHERE Id = @Id AND ScreenId = @ScreenId AND IsDeleted = 0
        )
            THROW 50004, 'Operating hour not found or already deleted', 1;

        UPDATE inv.ScreenOperatingHour
        SET
            IsDeleted = 1,
            DeletedAt = SYSDATETIMEOFFSET(),
            DeletedBy = @DeletedBy,
            UpdatedAt = SYSDATETIMEOFFSET(),
            UpdatedBy = @DeletedBy
        WHERE Id      = @Id
          AND ScreenId = @ScreenId;

        SELECT @JSON =
        (
            SELECT
                @Id        AS Id,
                @ScreenId  AS ScreenId,
                @DeletedBy AS DeletedBy,
                1          AS Success,
                'Operating hour deleted successfully' AS Message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT @JSON =
        (
            SELECT
                0               AS Success,
                ERROR_MESSAGE() AS Message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenSel]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [inv].[SpScreenSel]
    @JSON NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Parse filters from incoming JSON
    DECLARE @Search      NVARCHAR(255) = JSON_VALUE(@JSON, '$.Search');
    DECLARE @Status      TINYINT       = TRY_CAST(JSON_VALUE(@JSON, '$.Status') AS TINYINT);
    DECLARE @Orientation TINYINT       = TRY_CAST(JSON_VALUE(@JSON, '$.Orientation') AS TINYINT);

    SELECT @JSON =
    (
        SELECT
            s.Id,
            s.Name,
            s.TenantId,
            s.Location,
            ISNULL(s.Resolution, '1920x1080') AS Resolution,
            s.Tag,
            ISNULL(s.Orientation, 1) AS Orientation,
            s.Status,
            (
                SELECT
                    oh.Id,
                    oh.StartTime,
                    oh.EndTime,
                    oh.DayOfWeek,
                    oh.AvgAudienceCount
                FROM inv.ScreenOperatingHour oh
                WHERE oh.ScreenId = s.Id
                  AND oh.IsDeleted = 0
                FOR JSON PATH
            ) AS OperatingHour
        FROM inv.Screen s
        WHERE s.IsDeleted = 0
          AND (@Search      IS NULL OR s.Name     LIKE '%' + @Search + '%'
                                    OR s.Location LIKE '%' + @Search + '%'
									OR s.Resolution LIKE '%' + @Search + '%'
									OR s.Tag LIKE '%' + @Search + '%')
          AND (@Status      IS NULL OR s.Status      = @Status)
          AND (@Orientation IS NULL OR s.Orientation = @Orientation)
        ORDER BY s.CreatedAt DESC
        FOR JSON PATH, INCLUDE_NULL_VALUES
    );
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenUpd]    Script Date: 5/4/2026 2:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [inv].[SpScreenUpd]
    @Json NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        CREATE TABLE #ScreenUpdate (
            Id          INT NOT NULL,
            Name        NVARCHAR(30) NULL,
            Location    NVARCHAR(60) NULL,
            Resolution  NVARCHAR(20) NULL,
            Tag         NVARCHAR(MAX) NULL,
            Orientation INT NULL,
            Status      INT NULL,
            UpdatedBy   INT NOT NULL
        );

        INSERT INTO #ScreenUpdate (Id, Name, Location, Resolution, Tag, Orientation, Status, UpdatedBy)
        SELECT oj.Id, oj.Name, oj.Location, oj.Resolution, oj.Tag, oj.Orientation, oj.Status, oj.UpdatedBy
        FROM OPENJSON(@Json)
        WITH (
            Id          INT           '$.Id',
            Name        NVARCHAR(30)  '$.Name',
            Location    NVARCHAR(60)  '$.Location',
            Resolution  NVARCHAR(20)  '$.Resolution',
            Tag         NVARCHAR(MAX) '$.Tag',
            Orientation INT           '$.Orientation',
            Status      INT           '$.Status',
            UpdatedBy   INT           '$.UpdatedBy'
        ) oj;

        -- =========================
        -- Validations
        -- =========================
        IF NOT EXISTS (SELECT 1 FROM #ScreenUpdate)
            THROW 50001, 'No valid screen data provided in JSON input', 1;

        IF EXISTS (SELECT 1 FROM #ScreenUpdate WHERE Id IS NULL OR UpdatedBy IS NULL)
            THROW 50002, 'Required fields (Id, UpdatedBy) cannot be null', 1;

        IF EXISTS (
            SELECT 1 FROM #ScreenUpdate su
            LEFT JOIN inv.Screen s ON s.Id = su.Id AND s.IsDeleted = 0
            WHERE s.Id IS NULL
        )
            THROW 50003, 'Screen does not exist or has been deleted', 1;

        IF EXISTS (
            SELECT 1 FROM #ScreenUpdate su
            INNER JOIN inv.Screen s
                ON s.TenantId = (SELECT TenantId FROM inv.Screen WHERE Id = su.Id)
                AND s.Name    = su.Name
                AND s.Id     != su.Id
                AND s.IsDeleted = 0
        )
            THROW 50004, 'Screen with this name already exists for the tenant', 1;

        -- =========================
        -- Update Screen
        -- =========================
        UPDATE s
        SET
            s.Name        = ISNULL(su.Name,        s.Name),
            s.Location    = ISNULL(su.Location,    s.Location),
            s.Resolution  = ISNULL(su.Resolution,  s.Resolution),
            s.Tag         = ISNULL(su.Tag,          s.Tag),
            s.Orientation = ISNULL(su.Orientation,  s.Orientation),
            s.Status      = ISNULL(su.Status,       s.Status),
            s.UpdatedBy   = su.UpdatedBy,
            s.UpdatedAt   = SYSDATETIMEOFFSET()
        FROM inv.Screen s
        INNER JOIN #ScreenUpdate su ON s.Id = su.Id;

        -- =========================
        -- Replace Operating Hours
        -- =========================

        -- Step 1: Soft delete existing hours
        UPDATE oh
        SET
            oh.IsDeleted = 1,
            oh.DeletedAt = SYSDATETIMEOFFSET(),
            oh.DeletedBy = su.UpdatedBy,
            oh.UpdatedAt = SYSDATETIMEOFFSET(),
            oh.UpdatedBy = su.UpdatedBy
        FROM inv.ScreenOperatingHour oh
        INNER JOIN #ScreenUpdate su ON oh.ScreenId = su.Id
        WHERE oh.IsDeleted = 0;

        -- Step 2: Insert new hours from JSON array
        INSERT INTO inv.ScreenOperatingHour
        (
            ScreenId, StartTime, EndTime, DayOfWeek,
            AvgAudienceCount, IsDeleted, CreatedAt, UpdatedAt,
            CreatedBy, UpdatedBy
        )
        SELECT
            su.Id,
            oh.StartTime,
            oh.EndTime,
            oh.DayOfWeek,
            ISNULL(oh.AvgAudienceCount, 0),
            0,
            SYSDATETIMEOFFSET(),
            SYSDATETIMEOFFSET(),
            su.UpdatedBy,
            su.UpdatedBy
        FROM #ScreenUpdate su
        CROSS APPLY OPENJSON(@Json, '$.OperatingHour')
        WITH (
            StartTime        TIME(0) '$.StartTime',
            EndTime          TIME(0) '$.EndTime',
            DayOfWeek        INT     '$.DayOfWeek',
            AvgAudienceCount INT     '$.AvgAudienceCount'
        ) oh
        WHERE oh.StartTime IS NOT NULL
          AND oh.EndTime   IS NOT NULL
          AND oh.DayOfWeek IS NOT NULL;

        -- =========================
        -- Response JSON
        -- =========================
        SELECT @Json = ISNULL(
        (
            SELECT *
            FROM (
                SELECT
                    s.Id,
                    s.Name,
                    s.TenantId,
                    s.Location,
                    ISNULL(s.Resolution, '1920x1080') AS Resolution,
                    s.Tag,
                    ISNULL(s.Orientation, 1)          AS Orientation,
                    s.Status,
                    s.UpdatedBy,
                    s.UpdatedAt,
                    s.IsDeleted,
                    (
                        SELECT
                            oh.Id,
                            oh.StartTime,
                            oh.EndTime,
                            oh.DayOfWeek,
                            oh.AvgAudienceCount
                        FROM inv.ScreenOperatingHour oh
                        WHERE oh.ScreenId = s.Id
                          AND oh.IsDeleted = 0
                        FOR JSON PATH
                    ) AS OperatingHour
                FROM inv.Screen s
                INNER JOIN #ScreenUpdate su ON s.Id = su.Id
            ) result
            FOR JSON PATH, INCLUDE_NULL_VALUES
        ), '[]');

        COMMIT TRANSACTION;
        DROP TABLE IF EXISTS #ScreenUpdate;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        DROP TABLE IF EXISTS #ScreenUpdate;
        THROW;
    END CATCH
END
GO
