<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tenant.component.scss">
    <title>Document</title>
</head>
<body>
    <div class="info">
       <label class="name"> Name:</label>
       <input type="Text" id="name"> <br>

       <label class="addr"> Address:</label>
       <input type="Text" id="addr"><br>

       <label class="email"> Email: </label>
       <input type="email" id="email"><br>
       
       <label class="active">Status: </label>
       <select id="isActive" name="isActive">
                <option value="">Select</option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
       </select><br>

        <button type="submit" id="submit">Submit</button>
       </div><br>
    
</body>
</html>